// out: style.css, nib: true

/*
 * Import nib
 */
@import 'nib'
/*
 * Nib provides a CSS reset
 */
global-reset()
/*
 * Store the main color and
 * background color as variables
 */
main-color = #5c59ba
main-font-color = #333
background-color = #f2f1e5
table-hover-color = #87c2ff

body
  font-family Helvetica, sans-serif, Arial
  //background-color background-color
  color #444

header
  font-family sans-serif, Helvetica, Arial
  padding 50px 10px
  color #fff
  font-size 35px
  text-align center
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

  a
    text-decoration: none
    color: #fff

.sidebar
  margin-top 20px

p
  line-height 1.8

.main-results
  margin 30px auto

dt
  list-style-type disc
  font-weight bold
  color #5c59ba
  margin 10px

dd
  list-style-type none
  margin 20px

h1
  font-size 20px

textarea
  height 25px
  width 100px
  resize none
  margin-left 20px

button
  height 25px
  width 150px
  margin 20px

select
  margin-bottom 20px

footer
  //background-color: #555;
  //color: white;
  border-top 1px dotted #ccc
  margin 50px auto
  padding: 15px;

.table tbody tr:hover td, .table tbody tr:hover th
  background-color: table-hover-color
