extend layout
block content
  .page-header
    h1 Stimme abgeben für die Bundestagswahl 2013

  .main-results 
    .alert.alert-info
      | Um an der Bundestagswahl teilnehmen zu können, müssen Sie sich vorher anmelden.
      
    each value in errorTable
      .alert.alert-danger= value
    
    //- label Kennung:
    //- textarea(maxlength= 7)
    //- label Geburtsdatum: 
    //- textarea(maxlength= 8)
    //- button(type= submit, id= loginButton) Login
    
    form.form-horizontal(role="form", action="/auth", method="post")
      .form-group
        label.control-label.col-md-2(for="kennung") Kennung:
        .col-md-10
          input.form-control#kennung(type="text", name="kennung", placeholder="Bitte die Kennung eingeben", value= kenVal)
      .form-group
        label.control-label.col-md-2(for="geburtsdatum") Geburtsdatum:
        .col-md-10
          input.form-control#geburtsdatum(type="text", name="geburtsdatum", placeholder="Bitte das Geburtsdatum eingeben der Form TTMMJJJJ", value= gebVal)
      .form-group
        .col-md-offset-2.col-md-10
          input.btn.btn-default(type="submit", value="Absenden")
    
    
