extend layout
block content
  .page-header
    h1 Bundestagswahlergebnisse

  .main-results 
    p
      | Die Ergebnisse und folgende weitere Informationen 
      | zur Bundestagswahl 2009 und 2013 können Sie auf diesen Seiten finden:
      
  .uebersicht
    dl
        dt Q1
          dd Die Verteilung der Sitze im Bundestags
      
        dt Q2
          dd Eine Liste aller Mitglieder des Bundestags
          
        dt Q3
          dd Eine Übersicht von Informationen für jeden Wahlkreis, welche Informationen über die Wahlbeteiligung, den Siegerkandidaten sowie die Anzahl der Stimmen pro Partei und im Vergleich zu 2009 bzw. 2013 eingesehen werden können
        
        dt Q4
          dd Eine Liste aller Siegerparteien pro Wahlkreis
        
        dt Q5
          dd Eine Aufstellung aller Überhangsmandate mit Partei und Bundesland
          
        dt Q6
          dd Die Top 10 der knappsten Sieger pro Partei. Hat eine Partei keinen Wahlkreis gewonnen, so werden die Top 10 der knappsten Verlierer angezeigt
        
        dt Q7
          dd Eine Übersicht von Informationen für jeden Wahlkreis, welche Informationen über die Wahlbeteiligung, den Siegerkandidaten sowie die Anzahl der Stimmen pro Partei und im Vergleich zu 2009 bzw. 2013 eingesehen werden können. Diese Berechnung findet auf den Einzelstimmen statt
      
      
