doctype
html
  head
    title #{title} - Wahlinformationssystem
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Latest compiled JavaScript
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // latest d3 library
    script(src="//d3js.org/d3.v3.min.js", charset="utf-8")
    // custom stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width", initial-scale=1)

  body
    header
      a(id= "header-link", href='/') Wahlinformationssystem
    .container
      .row-content
        .sidebar
          .col-md-3.sidenav
            nav.navbar.navbar-default
              ul.nav.nav-pills.nav-stacked(id= "nav")
                li
                  a(href='/') Home
                li
                  a(href='/auth') Stimme abgeben
                li
                  a(href='/q1/2013/') Q1: Sitzverteilung
                li
                  a(href='/q2/2013/') Q2: Mitglieder des Bundestags
                li
                  a(href='/q3/2013/') Q3: Wahlkreisübersicht
                li
                  a(href='/q4/2013/') Q4: Wahlkreissieger
                li
                  a(href='/q5/2013/') Q5: Überhangmandate
                li
                  a(href='/q6/2013/') Q6: Knappste Sieger
                li
                  a(href='/q7/2013/') Q7: Wahlkreisübersicht (Einzelstimmen)
        .main-content
          .col-md-9
            block content
      
    footer.container
      p.text-muted Running on node with Express, Jade and Stylus.
      
    script.
      $(document).ready(function () {
        var path = document.location.pathname.split('/')[1];
        if(path == "")
          $('ul.nav > li > a[href="/' + path + '"]').parent().addClass('active');
        if(path == "auth")
          $('ul.nav > li > a[href="/auth"]').parent().addClass('active');
        else {
          $('ul.nav > li > a[href="/' + path + '/2013/"]').parent().addClass('active');
        }
      });
