extend layout
block content
  .page-header
    h1 Ihre Stimme wurde erfolgreich abgeben
    
  .main-results
    button.btn.btn-default.vote(type= button, onclick="window.location='/'") Zur Startseite
