extend layout
block content
  .page-header
    h1 Stimme abgeben f端r die Bundestagswahl 2013

  .main-results 
    form(id= "submitForm" method= "get" action= "../submit/3/1/1/1") 
      //+document.getElementsByName("Zweitstimme")[0].getAttribute("id")
      table.table.table-striped
        thead
          tr
            th 
            th Erststimme
            th
            th
            th Zweitstimme 
            th
        tbody
          each value, index in resTable
            tr
              th
                input(type= "Radio" name= "Erststimme" id= value.candidateID)
              th= value.candidate 
              th= value.candidateparty
              th
                input(type= "Radio" name= "Zweitstimme" id= value.partyID)
              th= value.abkuerzung 
              th= value.party 
          tr
            th 
              input(type= "Radio" name= "Erststimme" id= "noErststimme")
            th ung端ltige Stimme
            th
            th
              input(type= "Radio" name= "Zweitstimme" id= "noZweitstimme")
            th ung端ltige Stimme
            th

      button(name= "submit" type= submit) Stimme abgeben
      
    button(type= button, onclick="window.location='/'") Zur端ck
